<!--          *******************************************            START   FOOTER       -->
<div class="footer">
  <div class="footer-links d-flex justify-content-center pt-2 fs-5">
    <a href="#"><i class="fab fa-github text-secondary pe-2"></i></a>
    <a href="#"><i class="fab fa-instagram text-secondary pe-2"></i></a>
    <a href="#"><i class="fab fa-linkedin text-secondary ps-2"></i></a>
  </div>
  <div class="fs-6 footer-copyright pt-3 d-flex justify-content-center text-center">
    <h6>HOMIE is made with <i class="fas fa-heart text-danger"></i> at Le Wagon. <br>Beyda, Victoria & Luis Camilo<br></h6>
  </div>
</div>
<!--          *******************************************            END FOOOTER        -->
