<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "banner.png"%>');">
  <div class="container">
    <h1><strong>HEY HOMIE!</strong></h1>
    <h4 class="mb-3">You´ll feel just like home</h4>
  </div>
</div>

<div class="mt-5">
  <div class="container">
    <h3 class="text-warning">What are you looking for?</h3>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 40px;">
  <div class="col">
    <%= link_to root_path, class: "text-decoration-none" do %>
      <div class="card h-100" style="border-radius: 10px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <img src="https://media.istockphoto.com/id/1224676708/photo/friends-toasting-at-pub.jpg?s=612x612&w=0&k=20&c=35wbBh1e5Es5BT1y232K6P1LlOtqQMGAT94LnG9g_HY=" class="card-img-top card-product-img" style="height: 20; width: 20;">
          <div class="card-body">
            <h5 class="card-title">Plans & Friends</h5>
            <p class="card-text">Make friends and have fun in your new city!</p>
          </div>
      </div>
    <% end %>
  </div>
  <div class="col">
    <%= link_to root_path, class: "text-decoration-none" do %>
      <div class="card h-100" style="border-radius: 10px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <img src="https://media.istockphoto.com/id/620972806/photo/man-texting-in-the-shopping-mall.jpg?s=612x612&w=0&k=20&c=c9ByRTLwKrXzlPSBag2QzjU0pDS7P_SR07AjxqMlcU8=" class="card-img-top card-product-img" style="height: 20; width: 20;">
          <div class="card-body">
            <h5 class="card-title">Stores & Promos</h5>
            <p class="card-text">Everything you need and more!</p>
          </div>
      </div>
    <% end %>
  </div>
  <div class="col">
    <%= link_to root_path, class: "text-decoration-none" do %>
      <div class="card h-100" style="border-radius: 10px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <img src="https://cdn.forbes.com.mx/2015/05/google_maps.jpg" class="card-img-top card-product-img" style="height: 20; width: 20;">
          <div class="card-body">
            <h5 class="card-title">City Data</h5>
            <p class="card-text">Get to know your new city!</p>
          </div>
      </div>
    <% end %>
  </div>
</div>
